<nav class="bg-emerald-600 w-full h-20">
  <ul class="flex justify-between pl-2 pr-4 place-items-center h-full font-medium text-white">
    <li>
      <a routerLink="/">
        <img class="h-12 w-12 invert" src="./mm.svg" />
      </a>
    </li>
    <li class="group">
        <a class="relative group" routerLink="/banking" draggable="false">Banking
            <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-green-500 transition-all group-hover:w-full"></span>
          </a>
    </li>
    <li class="group">
        <a class="relative group" routerLink="/mortgages" draggable="false">Mortgages
            <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-green-500 transition-all group-hover:w-full"></span>
          </a>
    </li>
    <li class="group">
        <a class="relative group" routerLink="/investing" draggable="false">Investing
            <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-green-500 transition-all group-hover:w-full"></span>
          </a>
    </li>
    <li class="group">
        <a class="relative group" routerLink="/credit-cards" draggable="false">Credit Cards
            <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-green-500 transition-all group-hover:w-full"></span>
          </a>
    </li>
    <li class="group">
        <a class="relative group" routerLink="/loans" draggable="false">Loans
            <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-green-500 transition-all group-hover:w-full"></span>
          </a>
    </li>
    <li class="group">
        <a class="relative group" routerLink="/home-equity" draggable="false">Home Equity
            <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-green-500 transition-all group-hover:w-full"></span>
          </a>
    </li>
    <li class="group">
        <a class="relative group" routerLink="/insurance" draggable="false">Insurance
            <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-green-500 transition-all group-hover:w-full"></span>
          </a>
    </li>
  </ul>
</nav>
