<section>
  <div class="text-left">
    <!---------------- Bg Color ----------------->
    <div
      class="absolute -z-50 bg-gradient-to-b from-emerald-600 via-emerald-500 to-green-500 h-[350px] xs:h-[400px] md:h-[420px] lg:h-[420px] w-full"
    ></div>

    <!---------------- Home Title ----------------->
    <div class="text-white font-medium px-4 sm:px-8 pt-4 sm:pt-10">
      <h1 class="text-4xl md:text-5xl font-semibold">
        How to start saving (even if you're starting from scratch)
      </h1>
      <div class="my-8">
        <p class="text-sm">
          Written by
          <a class="text-white font-semibold hover:underline underline-offset-4 cursor-pointer"
            >Karen Bennett</a
          >, Edited by
          <a class="text-white font-semibold hover:underline underline-offset-4 cursor-pointer"
            >Marc Wojno</a
          >
        </p>
        <p class="text-xs">
          Published on October 07, 2024
          <a class="text-green-400 font-bold"> | </a> 5 min read
        </p>
      </div>
      <hr class="border-green-500 border mb-4" />
      <div class="flex justify-between">
        <p class="text-xs">MoneyMindset is always editorially independent.</p>
        <!-- <button>^</button> -->
      </div>
    </div>
    <div class="px-0 sm:px-12 lg:px-16 mt-8">
      <div class="bg-white rounded-none sm:rounded-xl p-8 group/pic">
        <div class=" overflow-hidden rounded-lg">

            <img
            class="w-full h-auto object-cover group-hover/pic:scale-110 rounded-lg shadow-md shadow-black/30 aspect-auto transition-all duration-300 ease-in-out"
            src="https://picsum.photos/200/100"
          />
        </div>
        <hr class="my-12" />
 <!-- Table of Contents -->
        <div class="flex flex-col sm:flex-row gap-8">
          <div class="w-full sm:w-1/3">
            <h2 class="font-semibold text-4xl text-left">
              Table of<br />
              contents
            </h2>
          </div>
          <ul class="w-full sm:w-2/3 space-y-2 text-sm flex-col mx-auto px-8 sm:px-0">
            <a
              class="group flex gap-4 place-items-center hover:underline underline-offset-2 cursor-pointer"
            >
              <div
                class="w-2 h-2 rounded-full bg-green-100 group-hover:bg-green-500"
              ></div>
              <li>Write down your savings goals</li>
            </a>
            <a
              class="group flex gap-4 place-items-center hover:underline underline-offset-2 cursor-pointer"
            >
              <div
                class="w-2 h-2 rounded-full bg-green-100 group-hover:bg-green-500"
              ></div>
              <li>Create a budget</li>
            </a>
            <a
              class="group flex gap-4 place-items-center hover:underline underline-offset-2 cursor-pointer"
            >
              <div
                class="w-2 h-2 rounded-full bg-green-100 group-hover:bg-green-500"
              ></div>
              <li>Find a home for your savings</li>
            </a>
            <a
              class="group flex gap-4 place-items-center hover:underline underline-offset-2 cursor-pointer"
            >
              <div
                class="w-2 h-2 rounded-full bg-green-100 group-hover:bg-green-500"
              ></div>
              <li>Keep checking and savings accounts at different banks</li>
            </a>
            <a
              class="group flex gap-4 place-items-center hover:underline underline-offset-2 cursor-pointer"
            >
              <div
                class="w-2 h-2 rounded-full bg-green-100 group-hover:bg-green-500"
              ></div>
              <li>Find areas to cut your spending</li>
            </a>
            <a
              class="group flex gap-4 place-items-center hover:underline underline-offset-2 cursor-pointer"
            >
              <div
                class="w-2 h-2 rounded-full bg-green-100 group-hover:bg-green-500"
              ></div>
              <li>Find ways to grow your income</li>
            </a>
          </ul>
        </div>

        <hr class="my-12" />

        <div class="border-l-4 border-green-500 pl-8">
          <h3 class="text-xl font-semibold mb-4">Key takeaways</h3>
          <div>
            <ul class="space-y-4">
              <a class="group flex gap-4 place-items-start">
                <div class="min-w-2 h-2 mt-2 rounded-full bg-green-500"></div>
                <li>
                  The best way to start saving is to just start — there’s no
                  goal too small.
                </li>
              </a>
              <a class="group flex gap-4 place-items-start">
                <div class="min-w-2 h-2 mt-2 rounded-full bg-green-500"></div>
                <li>
                  Many digital budgeting tools can help you make consistent
                  contributions to your savings and manage your spending habits.
                </li>
              </a>
              <a class="group flex gap-4 place-items-start">
                <div class="min-w-2 h-2 mt-2 rounded-full bg-green-500"></div>
                <li>
                  Opening accounts at different banks can help you separate
                  spending goals, create mental barriers to control spending,
                  and take advantage of the best interest rates available.
                </li></a
              >

              <a class="group flex gap-4 place-items-start">
                <div class="min-w-2 h-2 mt-2 rounded-full bg-green-500"></div>
                <li>
                  High-interest credit card spending can derail your savings
                  goals and inhibit your ability to build an emergency fund.
                </li></a
              >
            </ul>
        </div>
    </div>
    <article class="mt-8 tracking-wide text-pretty">
      <p>
        Saving money is not quite as fun as spending it, but money in
        the bank can be a lifesaver when you’re hit with unexpected
        expenses or a sudden job loss. When your bank account balance is
        down to just a few dollars, it can feel like saving money is
        impossible. If you struggle to save money, know that you’re not
        alone. Only about 4 in 10 U.S. adults (44 percent) could cover
        the cost of a $1,000 emergency with savings, according to
        Bankrate’s recent annual emergency savings report. You might
        think you need to make more money in order to save, but there
        are actually plenty of other ways you can start your nest egg
        today rather than tomorrow, ranging from simple habits to
        innovative digital budgeting tools.
      </p>

      <h3 class="text-2xl font-semibold my-8">
        Write down your savings goals
      </h3>

      <p>
        Having specific goals can help you save more money. Write down
        your savings goals or save them in a spreadsheet, and assign
        them names (like “emergency fund” or “new car fund”) and
        deadlines. Then, identify how much to set aside each month to
        have the full amount when you’ll need the money. Using multiple
        savings accounts can also help you meet your goals, since you
        can devote one account to each goal and easily track your
        progress. This also enables you to easily shift your funds to
        take advantage of the savings account in your portfolio that
        offers the highest interest rate. An alternative strategy is to
        use a single bank that lets you create categories — sometimes
        called buckets — within the same account that allow you to save
        toward different goals. Examples of such accounts are the Sallie
        Mae SmartyPig account and the Ally online savings account.
      </p>
    </article>
      </div>
    </div>
  </div>
</section>
