<section>
  <div>
    <!---------------- Bg Color ----------------->
    <div
      class="text-center pb-8 bg-gradient-to-b from-emerald-600 via-emerald-500 to-green-500 w-full"
    >
      <!-------- Alert Bar ----------->
      <div
        class="w-full h-fit py-2 flex gap-4 place-items-center justify-between text-white bg-gradient-to-br from-emerald-600 via-emerald-500 to-green-500 transition-all duration-300 ease-in-out"
        [ngClass]="{
          'opacity-0 -my-8': !isAlertVisible,
          'opacity-100': isAlertVisible
        }"
      >
        <div></div>

        <a
          [ngClass]="{
            'cursor-auto': !isAlertVisible,
            'cursor-pointer': isAlertVisible
          }"
          class="pl-4 font-semibold text-center hover:underline underline-offset-2 cursor-pointer"
        >
          Looking for a credit card? See our 2025 MoneyMindset Awards winners.
        </a>
        <button class="pr-4 font-semibold text-right" (click)="hideAlert()">
          X
        </button>
      </div>

      <!---------------- Home Title ----------------->
      <div class="text-white font-medium">
        <h1
          class="text-4xl sm:text-5xl pt-8 md:pt-10 mb-6 mx-4 md:mx-8 font-semibold"
        >
          Credit Cards
        </h1>
        <p class="mx-4 md:mx-8 font-semibold text-sm sm:text-base">
          Compare top offers by category. Read our expert reviews and
          recommendations. Feel confident when you apply.
        </p>
      </div>

      <!---------------- Grid Boxes ----------------->
      <div
        class="grid grid-cols-1 md:grid-cols-3 mt-10 mx-4 md:mx-8 gap-4 md:gap-8 font-semibold text-lg"
      >
        <div
          class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer duration-300 ease-in-out border border-black group"
        >
          <span
            class="material-symbols-outlined text-4xl mb-1 group-hover:text-green-500"
          >
            credit_score
          </span>
          <h2 class="text-black group-hover:text-green-500 px-2">Best Cards</h2>
        </div>
        <div
          class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer duration-300 ease-in-out border border-black group"
        >
          <span
            class="material-symbols-outlined text-4xl mb-1 group-hover:text-green-500"
          >
            join_left
          </span>
          <h2 class="text-black group-hover:text-green-500 px-2">CardMatch</h2>
        </div>
        <div
          class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer duration-300 ease-in-out border border-black group"
        >
          <span
            class="material-symbols-outlined text-4xl mb-1 group-hover:text-green-500"
          >
            send_money
          </span>
          <h2 class="text-black group-hover:text-green-500 px-2">
            Balance Transfer
          </h2>
        </div>
        <div
          class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer duration-300 ease-in-out border border-black group"
        >
          <span
            class="material-symbols-outlined text-4xl mb-1 group-hover:text-green-500"
          >
            trending_down
          </span>
          <h2 class="text-black group-hover:text-green-500 px-2">0% APR</h2>
        </div>
        <div
          class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer duration-300 ease-in-out border border-black group"
        >
          <span
            class="material-symbols-outlined text-4xl mb-1 group-hover:text-green-500"
          >
            payments
          </span>
          <h2 class="text-black group-hover:text-green-500 px-2">Cash Back</h2>
        </div>
      </div>
    </div>

    <!--------------- Explore More ---------------->
    <div class="w-full bg-emerald-100 mt-16 pt-8 pb-6 text-center">
      <h4 class="font-bold text-lg md:text-xl mb-4">Explore more</h4>
      <div class="overflow-x-auto scroll-smooth px-4">
        <div
          class="flex gap-4 pb-4 px-4 place-items-center min-w-fit justify-center"
        >
          <div
            class="bg-white border min-w-fit border-black/10 hover:border-green-500 hover:text-green-500 rounded-full py-3 px-5 font-semibold text-sm md:text-base"
          >
            Rewards
          </div>
          <div
            class="bg-white border min-w-fit border-black/10 hover:border-green-500 hover:text-green-500 rounded-full py-3 px-5 font-semibold text-sm md:text-base"
          >
            Business
          </div>
          <div
            class="bg-white border min-w-fit border-black/10 hover:border-green-500 hover:text-green-500 rounded-full py-3 px-5 font-semibold text-sm md:text-base"
          >
            Travel
          </div>
          <div
            class="bg-white border min-w-fit border-black/10 hover:border-green-500 hover:text-green-500 rounded-full py-3 px-5 font-semibold text-sm md:text-base"
          >
            Student
          </div>
          <div
            class="bg-white border min-w-fit border-black/10 hover:border-green-500 hover:text-green-500 rounded-full py-3 px-5 font-semibold text-sm md:text-base"
          >
            No annual fee
          </div>
        </div>
      </div>
    </div>

    <!--------------- Helpful Links ------------------->
    <div class="w-full">
      <div class="pt-8">
        <h3 class="font-semibold text-2xl md:text-3xl text-left pl-4">
          Helpful Links
        </h3>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-4 mt-8 px-4"
        >
          <div class="shadow-md shadow-black/30 rounded-lg">
            <img
              class="w-full h-auto rounded-t-lg"
              src="https://picsum.photos/200/150"
            />
            <h5 class="px-4 mt-3 font-semibold text-lg">
              Current CD rates for January 2025
            </h5>
            <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
              3 min read
            </p>
          </div>

          <div class="shadow-md shadow-black/30 rounded-lg mt-8 md:mt-0">
            <img
              class="w-full h-auto rounded-t-lg"
              src="https://picsum.photos/200/150"
            />
            <h5 class="px-4 mt-3 font-semibold text-lg">
              Current CD rates for January 2025
            </h5>
            <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
              3 min read
            </p>
          </div>

          <div class="shadow-md shadow-black/30 rounded-lg mt-8 md:mt-0">
            <img
              class="w-full h-auto rounded-t-lg"
              src="https://picsum.photos/200/150"
            />
            <h5 class="px-4 mt-3 font-semibold text-lg">
              Current CD rates for January 2025
            </h5>
            <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
              3 min read
            </p>
          </div>
        </div>
      </div>
    </div>

    <!------------------ Latest Articles -------------->
    <div class="bg-green-100 w-full mt-20 pt-12 text-center">
      <h3 class="font-semibold text-3xl">Latest articles</h3>
      <div class="scroll-smooth mt-6 overflow-x-scroll">
        <div
          class="flex gap-4 min-w-fit px-4 pb-4 place-items-center justify-center text-green-500"
        >
          <button
            class="bg-white border focus:bg-emerald-300/10 border-green-500/30 hover:border-green-500 rounded-md py-2 px-4 md:text-lg transition-all duration-300 ease-in-out"
          >
            All
          </button>
          <button
            class="bg-white border focus:bg-emerald-300/10 border-green-500/30 hover:border-green-500 rounded-md py-2 px-4 md:text-lg transition-all duration-300 ease-in-out"
          >
            Savings
          </button>
          <button
            class="bg-white border focus:bg-emerald-300/10 border-green-500/30 hover:border-green-500 rounded-md py-2 px-4 md:text-lg transition-all duration-300 ease-in-out"
          >
            CDs
          </button>
          <button
            class="bg-white border focus:bg-emerald-300/10 border-green-500/30 hover:border-green-500 rounded-md py-2 px-4 md:text-lg transition-all duration-300 ease-in-out"
          >
            MMAs
          </button>
          <button
            class="bg-white border focus:bg-emerald-300/10 border-green-500/30 hover:border-green-500 rounded-md py-2 px-4 md:text-lg transition-all duration-300 ease-in-out"
          >
            Checking
          </button>
        </div>
      </div>

      <!-- Grid of Latest Articles -->
      <div
        class="grid grid-cols-2 md:grid-cols-4 gap-4 pb-12 px-4 md:px-8 text-left"
      >
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
