.App {
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    padding: 0;
    margin: 0;
    /* background-color: #880808;
    background: linear-gradient(135deg, #000000, rgb(168, 0, 0), #000000);
    background-size: 400%;
    background-position: left;
    transition: background-position 600ms;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px inset,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    font-family: "Noto Sans", sans-serif;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  
    /* this makes sure the padding and the border is included in the box sizing */
    overflow-x: hidden;
  }