<section>
  <div class="text-center">
    <!---------------- Bg Color ----------------->
    <div
      class="absolute -z-50 bg-gradient-to-b from-emerald-600 via-emerald-500 to-green-500 h-[744px] xs:h-[708px] md:h-[752px] lg:h-[420px] w-full"
    ></div>

    <!---------------- Home Title ----------------->
    <div class="text-white font-medium">
      <h1
        class="text-4xl md:text-5xl pt-4 md:pt-10 mb-4 mx-4 md:mx-8 font-semibold"
      >
        Healthier Wallet, Happier You
      </h1>
      <p class="mx-4 md:mx-8 font-semibold text-pretty sm:text-base">
        Level up your financial wellbeing with MoneyMindset's expert tools and
        guidance.
      </p>
    </div>

    <!---------------- Grid Boxes ----------------->
    <div
      class="grid grid-cols-2 lg:grid-cols-4 mt-12 mx-4 md:mx-8 lg:mx-16 2xl:mx-48 gap-4 md:gap-8 font-semibold text-lg"
    >
      <a
        class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer hover:scale-105 duration-300 ease-in-out border border-black group"
      >
        <span class="material-symbols-outlined text-4xl mb-1"> cottage </span>
        <h2 class="text-black group-hover:text-green-500">Home purchase</h2>
      </a>
      <a
        class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer hover:scale-105 duration-300 ease-in-out border border-black group"
      >
        <span class="material-symbols-outlined text-4xl mb-1"> savings </span>
        <h2 class="text-black group-hover:text-green-500">
          High-yield savings
        </h2>
      </a>
      <a
        class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer hover:scale-105 duration-300 ease-in-out border border-black group"
      >
        <span class="material-symbols-outlined text-4xl mb-1">
          domain_add
        </span>
        <h2 class="text-black group-hover:text-green-500">Home refinance</h2>
      </a>
      <a
        class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer hover:scale-105 duration-300 ease-in-out border border-black group"
      >
        <span class="material-symbols-outlined text-4xl mb-1">
          credit_score
        </span>
        <h2 class="text-black group-hover:text-green-500">Credit cards</h2>
      </a>
      <a
        routerLink="/all-calculators"
        class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer hover:scale-105 duration-300 ease-in-out border border-black group"
      >
        <span class="material-symbols-outlined text-4xl mb-1"> calculate </span>
        <h2 class="text-black group-hover:text-green-500">All Calculators</h2>
      </a>
      <a
        class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer hover:scale-105 duration-300 ease-in-out border border-black group"
      >
        <span class="material-symbols-outlined text-4xl mb-1">
          finance_mode
        </span>
        <h2 class="text-black group-hover:text-green-500">Investing</h2>
      </a>
      <a
        class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer hover:scale-105 duration-300 ease-in-out border border-black group"
      >
        <span class="material-symbols-outlined text-4xl mb-1"> license </span>
        <h2 class="text-black group-hover:text-green-500">CD rates</h2>
      </a>
      <div
        class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer hover:scale-105 duration-300 ease-in-out border border-black group"
      >
        <span class="material-symbols-outlined text-4xl mb-1">
          account_balance_wallet
        </span>
        <h2 class="text-black group-hover:text-green-500">Personal loans</h2>
      </div>
    </div>
  </div>

  <!---------------------- Hero Section -------------------------->
  <div
    class="w-full px-0 md:px-16 lg:px-32 2xl:px-96 text-center mt-16 mb-12 text-white place-items-center"
  >
    <div
      class="flex flex-col place-items-center max-w-7xl lg:gap-1 xl:gap-3 bg-gradient-to-tr from-emerald-600 via-emerald-500 to-green-500 py-8 lg:py-12 xl:py-24 px-8 shadow-lg shadow-black/30 md:rounded-tl-[4rem] md:rounded-br-[4rem]"
    >
      <div
        class="bg-black/70 py-1.5 px-4 max-w-fit font-medium flex justify-self-center gap-2 place-items-center rounded-full uppercase"
      >
        <span
          class="material-symbols-outlined text-xl flex place-content-center"
        >
          hotel_class
        </span>
        <h3>New</h3>
      </div>
      <br />
      <h2 class="text-2xl md:text-3xl mb-4 font-semibold">
        Our top picks for 2025
      </h2>
      <p class="font-medium px-4 md:px-32">
        Presenting the 2025 MoneyMindset Awards. Our experts dug into all the
        data to handpick the best of the best for you.
      </p>
      <br />
      <button
        class="bg-green-500 hover:bg-green-600 shadow-md shadow-black/30 transition-colors ease-in-out duration-300 rounded-lg py-3 px-6 font-medium"
      >
        See the winners!
      </button>
      <span
        class="material-symbols-outlined mt-6 text-7xl flex place-content-center"
      >
        social_leaderboard
      </span>
    </div>
  </div>

  <!---------------- Experience ------------------->
  <div class="px-8 pt-4 pb-8">
    <h3 class="text-center text-xl font-bold">
      MoneyMindset helps millions of people do more with their money
    </h3>
    <div class="flex flex-col md:flex-row justify-center gap-12 mt-8">
      <div class="relative flex place-content-center">
        <div
          class="bg-green-500/50 shadow-lg -z-30 shadow-black/30 rounded-lg bottom-0 absolute w-72 -translate-x-2 h-60 flex justify-center"
        ></div>
        <img
          draggable="false"
          class="h-72"
          src="https://www.bankrate.com/f/102997/646x699/38fd0de948/stat-image.png?auto=webp&optimize=high&height=356"
        />
      </div>
      <div
        class="flex flex-col gap-4 justify-between place-items-center text-center md:text-left"
      >
        <div>
          <span class="flex w-8 md:h-0.5 bg-green-500"></span>
          <p class="text-3xl font-bold">48</p>
          <p>Years in personal finance</p>
        </div>
        <div>
          <span
            class="flex w-full mb-2 md:mb-0 md:w-8 h-0.5 bg-green-500"
          ></span>
          <p class="text-3xl font-bold">50+</p>
          <p>In-house financial experts</p>
        </div>
        <div>
          <span
            class="flex w-full mb-2 md:mb-0 md:w-12 h-0.5 bg-green-500"
          ></span>
          <p class="text-3xl font-bold">200+</p>
          <p>Money tools & calculators</p>
        </div>
      </div>
    </div>
  </div>

  <!--------------- Mortgages, CDs, and Savings ------------------>
  <div
    class="relative mt-16 px-0 md:px-16 lg:px-32 2xl:px-96 flex flex-col place-items-center w-full"
  >
    <div
      class="text-black -top-16 absolute z-40 font-medium bg-white rounded-full border border-black/30 p-2 mt-8 flex place-self-center gap-4"
    >
      <button
        type="button"
        #mortgagesButton
        class="border border-neutral-400 rounded-full py-3 px-4 hover:border-green-500 hover:text-green-500 focus:bg-green-500 focus:text-white transition-all ease-in-out duration-300"
      >
        Mortgages
      </button>
      <button
        class="border border-neutral-400 rounded-full py-3 px-4 hover:border-green-500 hover:text-green-500 focus:bg-green-500 focus:text-white transition-all ease-in-out duration-300"
      >
        CDs
      </button>
      <button
        class="border border-neutral-400 rounded-full py-3 px-4 hover:border-green-500 hover:text-green-500 focus:bg-green-500 focus:text-white transition-all ease-in-out duration-300"
      >
        Savings
      </button>
    </div>

    <div
      class="bg-gradient-to-tr w-full from-emerald-600 via-emerald-500 to-green-500 pt-16 pb-12 px-8 mb-12 z-30 text-white relative flex flex-col place-items-center overflow-hidden md:rounded-tl-[4rem] md:rounded-br-[4rem]"
    >
      <div
        class="absolute left-0 bottom-0 rounded-full w-96 h-96 -z-10 bg-gradient-to-br from-emerald-600 to-green-500 -translate-x-1/3 translate-y-1/4"
      ></div>
      <div class="flex gap-4 text-lg font-medium">
        <button
          #ratesButton
          type="button"
          class="hover:focus:text-white focus:border-b-2 hover:text-neutral-200 border-white cursor-pointer"
        >
          <h3>Rates</h3>
        </button>
        <button
          class="hover:focus:text-white focus:border-b-2 hover:text-neutral-200 border-white cursor-pointer"
        >
          <h3>Trends</h3>
        </button>
      </div>
      <h2 class="text-3xl md:text-4xl font-semibold mt-4">
        Top mortgage offers
      </h2>
      <p class="font-medium mt-4 text-lg">
        Make your dream home a reality with the right mortgage.
      </p>
      <button
        class="font-semibold bg-green-500 shadow-md shadow-black/30 rounded-lg mt-4 py-3 px-4 hover:bg-green-600"
      >
        Compare mortgage rates
      </button>
      <div class="flex flex-col gap-4 mt-8">
        <div
          class="flex justify-between w-[330px] sm:w-[550px] cursor-pointer place-items-center bg-green-500 shadow-lg shadow-black/30 rounded-lg py-4 px-8"
        >
          <div>
            <p class="text-neutral-100/90 text-sm font-medium">Term</p>
            <p class="font-medium">10-year fixed</p>
          </div>
          <div>
            <p class="text-neutral-100/90 text-sm font-medium">Rate</p>
            <p class="text-lg sm:text-xl font-bold">5.59%</p>
          </div>
          <div>
            <p class="text-neutral-100/90 text-sm font-medium">APR</p>
            <p class="text-lg sm:text-xl font-bold">5.96%</p>
          </div>
          <button
            class="bg-white font-bold h-10 w-10 rounded-full text-green-600"
          >
            <span class="material-symbols-outlined flex place-content-center">
              arrow_right_alt
            </span>
          </button>
        </div>
        <div
          class="flex justify-between w-[330px] sm:w-[550px] cursor-pointer place-items-center bg-green-500 shadow-lg shadow-black/30 rounded-lg py-4 px-8"
        >
          <div class="">
            <p class="text-neutral-100/90 text-sm font-medium">Term</p>
            <p class="font-medium">15-year fixed</p>
          </div>
          <div>
            <p class="text-neutral-100/90 text-sm font-medium">Rate</p>
            <p class="text-lg sm:text-xl font-bold">5.54%</p>
          </div>
          <div>
            <p class="text-neutral-100/90 text-sm font-medium">APR</p>
            <p class="text-lg sm:text-xl font-bold">5.83%</p>
          </div>
          <button
            class="bg-white font-bold h-10 w-10 rounded-full text-green-600"
          >
            <span class="material-symbols-outlined flex place-content-center">
              arrow_right_alt
            </span>
          </button>
        </div>
        <div
          class="flex justify-between w-[330px] sm:w-[550px] cursor-pointer place-items-center bg-green-500 shadow-lg shadow-black/30 rounded-lg py-4 px-8"
        >
          <div class="">
            <p class="text-neutral-100/90 text-sm font-medium">Term</p>
            <p class="font-medium">30-year fixed</p>
          </div>
          <div>
            <p class="text-neutral-100/90 text-sm font-medium">Rate</p>
            <p class="text-lg sm:text-xl font-bold">6.36%</p>
          </div>
          <div>
            <p class="text-neutral-100/90 text-sm font-medium">APR</p>
            <p class="text-lg sm:text-xl font-bold">6.57%</p>
          </div>
          <button
            class="bg-white font-bold h-10 w-10 rounded-full text-green-600"
          >
            <span class="material-symbols-outlined flex place-content-center">
              arrow_right_alt
            </span>
          </button>
        </div>
        <p
          matTooltip="MoneyMindset “top offers” represent the weekly average interest rate and average of APRs among top offers featured on MoneyMindset for the loan type and term selected, as of January 2, 2025."
          matTooltipPosition="below"
          class="text-center text-xs mt-2 underline underline-offset-2 cursor-pointer"
        >
          How are these rates calculated?
        </p>
      </div>
    </div>
  </div>

  <!-- Team Showcase -->
  <div class="flex flex-col gap-6 mb-12 text-center">
    <h3 class="font-bold text-2xl">Experts in all things finance</h3>
    <p class="text-neutral-700 font-medium">
      Our expert reporters and editors bring the news and analysis you need—<br />backed
      by data and firsthand experience.
    </p>
    <a
      class="text-green-500 text-lg font-semibold cursor-pointer flex justify-center gap-2"
      >About MoneyMindset
      <span
        class="material-symbols-outlined flex place-content-center text-base"
      >
        arrow_forward_ios
      </span></a
    >
    <div
      class="flex flex-col md:flex-row place-items-center justify-center gap-8 md:gap-12"
    >
      <div class="flex flex-col place-items-center">
        <div
          class="bg-gradient-to-tr from-emerald-600 via-emerald-500 to-green-500 shadow-lg shadow-black/30 mb-3 rounded-full flex justify-center w-[150px] h-[150px] place-items-center"
        >
          <img class="h-28" draggable="false" src="./mm.svg" />
        </div>
        <h4 class="font-semibold">Greg McBride, CFA</h4>
        <p class="text-sm">Chief Financial Analyst</p>
      </div>
      <div class="flex flex-col place-items-center">
        <div
          class="bg-gradient-to-tr from-emerald-600 via-emerald-500 to-green-500 shadow-lg shadow-black/30 mb-3 rounded-full flex justify-center w-[150px] h-[150px] place-items-center"
        >
          <img class="h-28" draggable="false" src="./mm.svg" />
        </div>
        <h4 class="font-semibold">Ghiasy Alexandre, CEO</h4>
        <p class="text-sm">Chief Executive Officier</p>
      </div>
      <div class="flex flex-col place-items-center">
        <div
          class="bg-gradient-to-tr from-emerald-600 via-emerald-500 to-green-500 shadow-lg shadow-black/30 mb-3 rounded-full flex justify-center w-[150px] h-[150px] place-items-center"
        >
          <img class="h-28" draggable="false" src="./mm.svg" />
        </div>
        <h4 class="font-semibold">Anne Romulus, CEA</h4>
        <p class="text-sm">Chief Economic Analyst</p>
      </div>
    </div>
  </div>

  <!--------------- Federal Rate Cuts ----------------->
  <div
    class="w-full px-0 md:px-16 lg:px-32 2xl:px-96 text-center my-12 text-white"
  >
    <div
      class="flex flex-col place-items-center bg-gradient-to-tr max-w-7xl from-emerald-600 via-emerald-500 to-green-500 pt-8 px-8 shadow-lg shadow-black/30 md:rounded-tl-[4rem] md:rounded-br-[4rem]"
    >
      <div
        class="bg-black/70 py-1.5 px-5 font-medium max-w-fit flex justify-self-center gap-2 place-items-center rounded-full uppercase"
      >
        <span
          class="material-symbols-outlined text-lg flex place-content-center"
        >
          account_balance
        </span>
        <h3>Federal Reserve</h3>
      </div>
      <br />
      <h2 class="text-2xl md:text-3xl mb-4 font-semibold">
        The Fed has now cut interst rates<br />three times
      </h2>
      <p class="font-medium px-4 md:px-32">
        Get insights from Bankrate experts on the Fed’s latest decision and the
        steps you should take with your finances.
      </p>
      <br />
      <button
        class="bg-green-500 hover:bg-green-600 shadow-md shadow-black/30 transition-colors ease-in-out duration-300 rounded-lg py-3 px-6 font-semibold"
      >
        Learn more
      </button>
      <img
        draggable="false"
        class="h-60 mt-8 flex justify-self-center"
        src="https://www.bankrate.com/f/102997/822x896/6fb299429f/powell-fed-day.png?auto=webp&height=328&dpr=1"
      />
    </div>
  </div>

  <!------------- Trusted By ------------->
  <hr class="mb-4" />
  <div class="flex flex-col gap-4 mb-8">
    <h3 class="text-center font-semibold text-lg">
      Featured by names you know and trust
    </h3>
    <div class="flex gap-4 justify-center px-4">
      <img
        class="h-6 hover:scale-110 transition-transform ease-in-out duration-300"
        src="https://www.bankrate.com/f/102997/51x28/1919edad4f/logo-wsj.svg?auto=webp&optimize=high"
      />
      <img
        class="h-6 hover:scale-110 transition-transform ease-in-out duration-300"
        src="https://www.bankrate.com/f/102997/x/431c055b88/logo-abc.svg?auto=webp&optimize=high"
      />
      <img
        class="h-6 hover:scale-110 transition-transform ease-in-out duration-300"
        src="https://www.bankrate.com/f/102997/x/9951dc14ea/logo-cnn.svg?auto=webp&optimize=high"
      />
      <img
        draggable="false"
        class="h-6 hover:scale-110 transition-transform ease-in-out duration-300"
        src="https://www.bankrate.com/f/102997/121x24/3af40b51f9/logo-bloomberg.svg?auto=webp&optimize=high"
      />
    </div>
  </div>
  <hr />

  <!----------------- Calculators ----------->
  <div class="w-full md:px-16 lg:px-32 2xl:px-96 text-center my-12 text-white">
    <div
      class="bg-gradient-to-tr max-w-7xl from-emerald-600 via-emerald-500 to-green-500 pb-16 pt-8 px-16 shadow-lg shadow-black/30 md:rounded-tl-[4rem] md:rounded-br-[4rem]"
    >
      <br />
      <h2 class="text-2xl md:text-3xl mb-8 font-semibold">
        Calculators for every question
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <a routerLink="/all-calculators" class="cursor-pointer">
          <div
            class="flex gap-3 place-items-center group hover:text-green-500 fill-current hover:bg-white bg-white/20 shadow-md shadow-black/30 pl-4 py-3 rounded-lg transition-all ease-in-out duration-300"
          >
            <span
              class="material-symbols-outlined text-4xl md:text-5xl flex place-content-center"
            >
              monitoring
            </span>
            <p class="font-semibold text-lg md:text-xl">Savings calculator</p>
          </div>
        </a>

        <a routerLink="/mortgages/mortgage-calculator" class="cursor-pointer">
          <div
            class="flex gap-3 place-items-center group hover:text-green-500 fill-current hover:bg-white bg-white/20 shadow-md shadow-black/30 pl-4 py-3 rounded-lg transition-all ease-in-out duration-300"
          >
            <span
              class="material-symbols-outlined text-4xl md:text-5xl flex place-content-center"
            >
              real_estate_agent
            </span>
            <p class="font-semibold text-lg md:text-xl">Mortgage calculator</p>
          </div>
        </a>

        <a routerLink="/all-calculators" class="cursor-pointer">
          <div
            class="flex gap-3 place-items-center group hover:text-green-500 fill-current hover:bg-white bg-white/20 shadow-md shadow-black/30 pl-4 py-3 rounded-lg transition-all ease-in-out duration-300"
          >
            <span
              class="material-symbols-outlined text-4xl md:text-5xl flex place-content-center"
            >
              payments
            </span>
            <p class="font-semibold text-lg md:text-xl">Loan calculator</p>
          </div>
        </a>

        <a routerLink="/all-calculators" class="cursor-pointer">
          <div
            class="flex gap-3 place-items-center group hover:text-green-500 fill-current hover:bg-white bg-white/20 shadow-md shadow-black/30 pl-4 py-3 rounded-lg transition-all ease-in-out duration-300"
          >
            <span
              class="material-symbols-outlined text-4xl md:text-5xl flex place-content-center"
            >
              credit_card
            </span>
            <p class="font-semibold text-lg md:text-xl">Credit card payoff</p>
          </div>
        </a>

        <a routerLink="/all-calculators" class="cursor-pointer">
          <div
            class="flex gap-3 place-items-center group hover:text-green-500 fill-current hover:bg-white bg-white/20 shadow-md shadow-black/30 pl-4 py-3 rounded-lg transition-all ease-in-out duration-300"
          >
            <span
              class="material-symbols-outlined text-4xl md:text-5xl flex place-content-center"
            >
              editor_choice
            </span>
            <p class="font-semibold text-lg md:text-xl">CD calculator</p>
          </div>
        </a>

        <a routerLink="/all-calculators" class="cursor-pointer">
          <div
            class="flex gap-3 place-items-center group hover:text-green-500 fill-current hover:bg-white bg-white/20 shadow-md shadow-black/30 pl-4 py-3 rounded-lg transition-all ease-in-out duration-300"
          >
            <span
              class="material-symbols-outlined text-4xl md:text-5xl flex place-content-center"
            >
              calculate
            </span>
            <p class="font-semibold text-lg md:text-xl">See all calculators</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
