<section>
  <div>
    <!---------------- Bg Color ----------------->
    <div
      class="text-center pb-8 bg-gradient-to-b from-emerald-600 via-emerald-500 to-green-500 w-full"
    >
      <!-------- Alert Bar ----------->
      <div
        class="w-full h-fit py-2 flex gap-4 place-items-center justify-between text-white bg-gradient-to-br from-emerald-600 via-emerald-500 to-green-500 transition-all duration-300 ease-in-out"
        [ngClass]="{
          'opacity-0 -my-6': !isAlertVisible,
          'opacity-100': isAlertVisible
        }"
      >
        <a
          class="pl-4 font-semibold text-center hover:underline underline-offset-2"
          [ngClass]="{
            'cursor-auto': !isAlertVisible,
            'cursor-pointer': isAlertVisible
          }"
        >
          Make moves toward your financial goals with the best personal loans of
          2025.
        </a>
        <button class="pr-4 font-semibold text-right" (click)="hideAlert()">
          X
        </button>
      </div>

      <!---------------- Home Title ----------------->
      <div class="text-white font-medium">
        <h1
          class="text-4xl sm:text-5xl pt-8 md:pt-10 mb-6 mx-4 md:mx-8 font-semibold"
        >
          Loans
        </h1>
        <p class="mx-4 md:mx-8 font-semibold text-sm sm:text-base">
          Whether you need a personal, auto, student, or small business loan,
          we'll help you choose the loan that's right for you.
        </p>
      </div>

      <!---------------- Grid Boxes ----------------->
      <div
        class="grid grid-cols-1 md:grid-cols-3 mt-10 mx-4 md:mx-8 gap-4 md:gap-8 font-semibold text-lg"
      >
        <div
          class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer duration-300 ease-in-out border border-black group"
        >
          <span
            class="material-symbols-outlined text-4xl mb-1 group-hover:text-green-500"
          >
            real_estate_agent
          </span>
          <h2 class="text-black group-hover:text-green-500 px-2">
            Personal loans
          </h2>
        </div>
        <div
          class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer duration-300 ease-in-out border border-black group"
        >
          <span
            class="material-symbols-outlined text-4xl mb-1 group-hover:text-green-500"
          >
            school
          </span>
          <h2 class="text-black group-hover:text-green-500 px-2">
            Student loans
          </h2>
        </div>
        <div
          class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer duration-300 ease-in-out border border-black group"
        >
          <span
            class="material-symbols-outlined text-4xl mb-1 group-hover:text-green-500"
          >
            no_crash
          </span>
          <h2 class="text-black group-hover:text-green-500 px-2">Auto loans</h2>
        </div>
        <div
          class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer duration-300 ease-in-out border border-black group"
        >
          <span
            class="material-symbols-outlined text-4xl mb-1 group-hover:text-green-500"
          >
            business
          </span>
          <h2 class="text-black group-hover:text-green-500 px-2">
            Small business loans
          </h2>
        </div>
        <a
        routerLink="/loans/calculators"
          class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer duration-300 ease-in-out border border-black group"
        >
          <span
            class="material-symbols-outlined text-4xl mb-1 group-hover:text-green-500"
          >
            calculate
          </span>
          <h2 class="text-black group-hover:text-green-500 px-2">
            Loan calculators
          </h2>
        </a>
      </div>
    </div>

    <!--------------- Related Topics ---------------->
    <div class="w-full bg-emerald-100 mt-16 pt-8 pb-6 text-center">
      <h4 class="font-bold text-lg md:text-xl mb-4">Explore more</h4>
      <div class="overflow-x-auto scroll-smooth px-20">
        <div
          class="flex gap-4 pb-4 px-4 place-items-center min-w-fit justify-center"
        >
          <div
            class="bg-white border min-w-fit border-black/10 hover:border-green-500 hover:text-green-500 rounded-full py-3 px-5 font-semibold text-sm md:text-base"
          >
            Home improvement
          </div>
          <div
            class="bg-white border min-w-fit border-black/10 hover:border-green-500 hover:text-green-500 rounded-full py-3 px-5 font-semibold text-sm md:text-base"
          >
            Debt consolidation
          </div>
          <div
            class="bg-white border min-w-fit border-black/10 hover:border-green-500 hover:text-green-500 rounded-full py-3 px-5 font-semibold text-sm md:text-base"
          >
            Emergency loans
          </div>
          <div
            class="bg-white border min-w-fit border-black/10 hover:border-green-500 hover:text-green-500 rounded-full py-3 px-5 font-semibold text-sm md:text-base"
          >
            Installment loans
          </div>
        </div>
      </div>
    </div>

    <!--------------- Helpful Links ------------------->
    <div class="w-full">
      <div class="pt-12">
        <h3 class="font-semibold text-2xl sm:text-3xl text-left pl-4">
          Helpful links
        </h3>
        <div
          class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 xs:gap-x-4 mt-8 px-4 mb-8"
        >
          <div
            class="group cursor-pointer min-h-[365px] sm:min-h-100 active:border-2 p-4 rounded-lg border-green-500 overflow-y-clip"
          >
            <div
              class="relative h-48 group-hover:h-40 transition-all duration-300 ease-in-out"
            >
              <img
                class="w-full h-48 group-hover:h-40 absolute object-cover rounded-lg aspect-auto transition-all duration-300 ease-in-out"
                src="https://picsum.photos/200/150"
              />
            </div>
            <p
              class="pl-2 mt-2 tracking-wider text-neutral-700 text-sm font-semibold"
            >
              Banking
            </p>
            <h5 class="px-2 font-semibold text-lg">
              How to open a certificate of deposit (CD)
            </h5>
            <p class="text-neutral-700 mt-2 px-2 text-sm">
              Everything you need to know about opening an account.
            </p>
            <a
              class="text-green-500 font-semibold mt-6 pl-2 flex translate-y-24 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-500 ease-in-out"
              >Read more
              <span
                class="material-symbols-outlined group-hover:pl-1.5 flex place-content-center transition-all duration-500 ease-in-out"
              >
                arrow_right_alt
              </span>
            </a>
          </div>
          <div
            class="group cursor-pointer min-h-[365px] sm:min-h-100 active:border-2 p-4 rounded-lg border-green-500 overflow-y-clip"
          >
            <div
              class="relative h-48 group-hover:h-40 transition-all duration-300 ease-in-out"
            >
              <img
                class="w-full h-48 group-hover:h-40 absolute object-cover rounded-lg aspect-auto transition-all duration-300 ease-in-out"
                src="https://picsum.photos/200/150"
              />
            </div>
            <p
              class="pl-2 mt-2 tracking-wider text-neutral-700 text-sm font-semibold"
            >
              Banking
            </p>
            <h5 class="px-2 font-semibold text-lg">
              How to open a certificate of deposit (CD)
            </h5>
            <p class="text-neutral-700 mt-2 px-2 text-sm">
              Everything you need to know about opening an account.
            </p>
            <a
              class="text-green-500 font-semibold mt-6 pl-2 flex translate-y-24 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-500 ease-in-out"
              >Read more
              <span
                class="material-symbols-outlined group-hover:pl-1.5 flex place-content-center transition-all duration-500 ease-in-out"
              >
                arrow_right_alt
              </span>
            </a>
          </div>

          <div
            class="group cursor-pointer min-h-[365px] sm:min-h-100 active:border-2 p-4 rounded-lg border-green-500 overflow-y-clip"
          >
            <div
              class="relative h-48 group-hover:h-40 transition-all duration-300 ease-in-out"
            >
              <img
                class="w-full h-48 group-hover:h-40 absolute object-cover rounded-lg aspect-auto transition-all duration-300 ease-in-out"
                src="https://picsum.photos/200/150"
              />
            </div>
            <p
              class="pl-2 mt-2 tracking-wider text-neutral-700 text-sm font-semibold"
            >
              Banking
            </p>
            <h5 class="px-2 font-semibold text-lg">
              How to open a certificate of deposit (CD)
            </h5>
            <p class="text-neutral-700 mt-2 px-2 text-sm">
              Everything you need to know about opening an account.
            </p>
            <a
              class="text-green-500 font-semibold mt-6 pl-2 flex translate-y-24 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-500 ease-in-out"
              >Read more
              <span
                class="material-symbols-outlined group-hover:pl-1.5 flex place-content-center transition-all duration-500 ease-in-out"
              >
                arrow_right_alt
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!----------------- Review and tools -------------->
    <div class="px-4">
      <h3 class="text-4xl font-bold">Reviews & tools</h3>
      <div class="mt-8 rounded-lg bg-green-50/70">
        <div class="grid grid-cols-1 sm:grid-cols-2 p-8 gap-8">
          <div
            class="flex flex-col p-8 gap-6 place-items-center bg-white hover:shadow-md shadow-black/30 rounded-lg"
          >
            <img
              class="w-auto h-16"
              src="https://www.bankrate.com/f/102997/2700x1414/08fae2d514/upgrade-logo.jpeg?auto=webp&optimize=high"
            />
            <div class="flex gap-3 place-items-center">
              <p class="font-bold text-2xl">4.7</p>
              <div class="flex flex-col ">
                <div>
                  <span
                    class="material-symbols-outlined transition-all duration-500 ease-in-out"
                  >
                    star_rate
                  </span>
                  <span
                    class="material-symbols-outlined transition-all duration-500 ease-in-out"
                  >
                    star_rate
                  </span>
                  <span
                    class="material-symbols-outlined transition-all duration-500 ease-in-out"
                  >
                    star_rate
                  </span>
                  <span
                    class="material-symbols-outlined transition-all duration-500 ease-in-out"
                  >
                    star_rate
                  </span>
                  <span
                    class="material-symbols-outlined transition-all duration-500 ease-in-out"
                  >
                    star_rate
                  </span>
                </div>
                <p class="text-xs text-neutral-600 -mt-1.5">MM Score</p>
              </div>
            </div>
            <button
              class="text-white px-4 py-1.5 rounded bg-green-500 hover:bg-green-600 font-semibold text-lg transition-all duration-300 ease-in-out"
            >
              Read review
            </button>
          </div>
          <div
            class="flex flex-col p-8 gap-6 place-items-center bg-white hover:shadow-md shadow-black/30 rounded-lg"
          >
            <img
              class="h-16 w-auto"
              src="https://www.bankrate.com/f/102997/478x269/5d0308dc9e/sofi_horz_rgb_turquoise_circler_upward.webp?auto=webp&optimize=high"
            />
            <div class="flex gap-3 place-items-center">
              <p class="font-bold text-2xl">4.7</p>
              <div class="flex flex-col">
                <div>
                  <span
                    class="material-symbols-outlined transition-all duration-500 ease-in-out"
                  >
                    star_rate
                  </span>
                  <span
                    class="material-symbols-outlined transition-all duration-500 ease-in-out"
                  >
                    star_rate
                  </span>
                  <span
                    class="material-symbols-outlined transition-all duration-500 ease-in-out"
                  >
                    star_rate
                  </span>
                  <span
                    class="material-symbols-outlined transition-all duration-500 ease-in-out"
                  >
                    star_rate
                  </span>
                  <span
                    class="material-symbols-outlined transition-all duration-500 ease-in-out"
                  >
                    star_rate
                  </span>
                </div>
                <p class="text-xs text-neutral-600 -mt-1.5">MM Score</p>
              </div>
            </div>
            <button
              class="text-white px-4 py-1.5 rounded bg-green-500 hover:bg-green-600 font-semibold text-lg transition-all duration-300 ease-in-out"
            >
              Read review
            </button>
          </div>
        </div>
        <div class="pb-12">
            <h3 class="text-center text-green-500 hover:text-green-600 hover:underline underline-offset-2 text-xl font-semibold cursor-pointer">All personal loan reviews</h3>
        </div>
      </div>
    </div>

    <!--------------- Editor's Pick ------------------->
    <div class="px-4 mt-4 flex flex-col gap-4">
        <div class="flex place-items-center gap-4 shadow shadow-black/30 hover:shadow-lg rounded-lg p-4 cursor-pointer group">
            <div class="bg-green-50/70 rounded-full">
                <img class="h-16 w-auto p-2" src="./mm.svg" />
            </div>
            <p class="font-semibold group-hover:text-green-500">Personal loan calculator </p>
        </div>
        <div class="flex place-items-center gap-4 shadow shadow-black/30 hover:shadow-lg rounded-lg p-4 cursor-pointer group">
            <div class="bg-green-50/70 rounded-full">
                <img class="h-16 w-auto p-2" src="./mm.svg" />
            </div>
            <p class="font-semibold group-hover:text-green-500">Student loan calculator </p>
        </div>
        <div class="flex place-items-center gap-4 shadow shadow-black/30 hover:shadow-lg rounded-lg p-4 cursor-pointer group">
            <div class="bg-green-50/70 rounded-full">
                <img class="h-16 w-auto p-2" src="./mm.svg" />
            </div>
            <p class="font-semibold group-hover:text-green-500">Auto loan calculator </p>
        </div>
        <div class="flex place-items-center gap-4 shadow shadow-black/30 hover:shadow-lg rounded-lg p-4 cursor-pointer group">
            <div class="bg-green-50/70 rounded-full">
                <img class="h-16 w-auto p-2" src="./mm.svg" />
            </div>
            <p class="font-semibold group-hover:text-green-500">All loan calculators </p>
        </div>
    </div>

    <!--------------- Loan by credit band ---------------->
    <div class="w-full bg-emerald-50/70 mt-16 pt-8 pb-6 text-center">
      <h4 class="font-bold text-lg md:text-xl mb-4">Loans by credit band</h4>
      <div class="overflow-x-auto scroll-smooth px-24">
        <div
          class="flex gap-4 pb-4 px-4 place-items-center min-w-fit justify-center"
        >
          <div
            class="bg-white border min-w-fit border-black/10 hover:border-green-500 hover:text-green-500 rounded-full py-3 px-5 font-semibold text-sm md:text-base"
          >
            Bad credit
          </div>
          <div
            class="bg-white border min-w-fit border-black/10 hover:border-green-500 hover:text-green-500 rounded-full py-3 px-5 font-semibold text-sm md:text-base"
          >
            Fair credit
          </div>
          <div
            class="bg-white border min-w-fit border-black/10 hover:border-green-500 hover:text-green-500 rounded-full py-3 px-5 font-semibold text-sm md:text-base"
          >
            Good credit
          </div>
          <div
            class="bg-white border min-w-fit border-black/10 hover:border-green-500 hover:text-green-500 rounded-full py-3 px-5 font-semibold text-sm md:text-base"
          >
            Excellent credit
          </div>
        </div>
      </div>
    </div>

    <!------------------ Latest Articles -------------->
    <div class="bg-green-50/70 w-full mt-20 pt-12 text-center">
      <h3 class="font-semibold text-4xl">The latest</h3>

      <!-- Grid of Latest Articles -->
      <div
        class="grid grid-cols-2 md:grid-cols-4 gap-4 pb-12 px-4 md:px-8 text-left"
      >
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
        <div
          class="bg-white rounded-xl mt-8 group hover:shadow-lg shadow-black/50 transition-shadow duration-300 ease-in-out"
        >
          <img
            class="w-full h-auto rounded-xl px-2 pt-2"
            src="https://picsum.photos/200/150"
          />
          <h5
            class="px-4 mt-3 font-semibold text-lg group-hover:text-green-500 transition-colors duration-300 ease-in-out"
          >
            Current CD rates for January 2025
          </h5>
          <p class="px-4 text-neutral-800">
            Check out the latest CD rates from MoneyMindset's weekly survey of
            bank...
          </p>
          <p class="text-neutral-700 mt-2 mb-4 px-4 text-xs font-medium">
            Jan 03, 2025
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
