<section>
  <div>
    <!---------------- Bg Image ----------------->
    <img
      class="w-full h-fit absolute -z-50"
      src="https://www.bankrate.com/f/102997/1280x482/42d5e52d02/retirement-hub-hero.webp?auto=webp&fit=crop&width=1328&height=500&enable=upscale"
    />

    <!---------------- Home Title ----------------->
    <div class="text-white font-medium">
      <h1
        class="text-5xl md:text-6xl pt-8 md:pt-10 mb-0 mx-4 md:mx-8 font-semibold"
      >
        Calculators
      </h1>
      <p class="mx-4 md:mx-8 font-semibold">
        Use our financial calculators to finesse your monthly budget, compare
        borrowing costs and plan for your future.
      </p>
    </div>

    <!---------------- Grid Boxes ----------------->
    <div
      class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 mt-10 mx-4 md:mx-8 gap-4 md:gap-8 font-semibold text-center text-lg"
    >
      <div
        class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer duration-300 ease-in-out group"
      >
        <span
          class="material-symbols-outlined text-4xl mb-1 group-hover:text-green-500"
        >
          real_estate_agent
        </span>
        <h2 class="text-black group-hover:text-green-500 px-2">
          Mortgage calculator
        </h2>
      </div>
      <div
        class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer duration-300 ease-in-out group"
      >
        <span
          class="material-symbols-outlined text-4xl mb-1 group-hover:text-green-500"
        >
          calculate
        </span>
        <h2 class="text-black group-hover:text-green-500 px-2">
          CD calculator
        </h2>
      </div>
      <div
        class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer duration-300 ease-in-out group"
      >
        <span
          class="material-symbols-outlined text-4xl mb-1 group-hover:text-green-500"
        >
          payments
        </span>
        <h2 class="text-black group-hover:text-green-500 px-2">
          Auto loan calculator
        </h2>
      </div>
      <div
        class="bg-white py-8 rounded-lg shadow-lg shadow-black/30 flex flex-col justify-center cursor-pointer duration-300 ease-in-out group"
      >
        <span
          class="material-symbols-outlined text-4xl mb-1 group-hover:text-green-500"
        >
          calculate
        </span>
        <h2 class="text-black group-hover:text-green-500 px-2">
          Simple savings calculator
        </h2>
      </div>
    </div>

    <!--------------- Different Calculators ---------------->
    <div class="w-full mt-16">
      <div>
        <h4 class="text-3xl font-semibold px-4 md:px-8">
          Crunch the right numbers for you
        </h4>
        <p class="px-4 md:px-8 text-pretty mt-6">
          From mortgages to retirement plans, our calculators allow you to
          estimate the value of a loan or deposit from just about every
          financial product you might need. We factor in such variables as
          interest, fees, and taxes to help you decide whether to invest in a
          new savings account, take out new debt, or purchase a new car or home.
        </p>
        <div class="grid grid-cols-2 px-4 md:px-8 mt-10">
            <div class="flex flex-col">
                <div class="flex gap-1 place-items-center">
                    <h4 class="font-semibold text-xl">Mortgage Calculators</h4>
                    <span
                    class="material-symbols-outlined text-green-500"
                  >
                    arrow_right_alt
                  </span>
                </div>
                <hr class="my-2"/>
                <div class="">
                    <ul class="text-sm flex flex-col gap-2">
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Mortgage Calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Amortization schedule calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            How much house can I afford?
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Debt-to-income ration calculator
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex gap-1 place-items-center">
                    <h4 class="font-semibold text-xl">Auto Calculators</h4>
                    <span
                    class="material-symbols-outlined text-green-500"
                  >
                    arrow_right_alt
                  </span>
                </div>
                <hr class="my-2"/>
                <div class="">
                    <ul class="text-sm flex flex-col gap-2">
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto loan calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto lease calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto refinance calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto loan payoff calculator
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex gap-1 place-items-center">
                    <h4 class="font-semibold text-xl">Auto Calculators</h4>
                    <span
                    class="material-symbols-outlined text-green-500"
                  >
                    arrow_right_alt
                  </span>
                </div>
                <hr class="my-2"/>
                <div class="">
                    <ul class="text-sm flex flex-col gap-2">
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto loan calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto lease calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto refinance calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto loan payoff calculator
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex gap-1 place-items-center">
                    <h4 class="font-semibold text-xl">Auto Calculators</h4>
                    <span
                    class="material-symbols-outlined text-green-500"
                  >
                    arrow_right_alt
                  </span>
                </div>
                <hr class="my-2"/>
                <div class="">
                    <ul class="text-sm flex flex-col gap-2">
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto loan calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto lease calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto refinance calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto loan payoff calculator
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex gap-1 place-items-center">
                    <h4 class="font-semibold text-xl">Auto Calculators</h4>
                    <span
                    class="material-symbols-outlined text-green-500"
                  >
                    arrow_right_alt
                  </span>
                </div>
                <hr class="my-2"/>
                <div class="">
                    <ul class="text-sm flex flex-col gap-2">
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto loan calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto lease calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto refinance calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto loan payoff calculator
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex gap-1 place-items-center">
                    <h4 class="font-semibold text-xl">Auto Calculators</h4>
                    <span
                    class="material-symbols-outlined text-green-500"
                  >
                    arrow_right_alt
                  </span>
                </div>
                <hr class="my-2"/>
                <div class="">
                    <ul class="text-sm flex flex-col gap-2">
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto loan calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto lease calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto refinance calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto loan payoff calculator
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex gap-1 place-items-center">
                    <h4 class="font-semibold text-xl">Auto Calculators</h4>
                    <span
                    class="material-symbols-outlined text-green-500"
                  >
                    arrow_right_alt
                  </span>
                </div>
                <hr class="my-2"/>
                <div class="">
                    <ul class="text-sm flex flex-col gap-2">
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto loan calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto lease calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto refinance calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto loan payoff calculator
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex gap-1 place-items-center">
                    <h4 class="font-semibold text-xl">Auto Calculators</h4>
                    <span
                    class="material-symbols-outlined text-green-500"
                  >
                    arrow_right_alt
                  </span>
                </div>
                <hr class="my-2"/>
                <div class="">
                    <ul class="text-sm flex flex-col gap-2">
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto loan calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto lease calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto refinance calculator
                        </li>
                        <li class="hover:underline underline-offset-2 hover:text-green-500 transition-all duration-300 ease-in-out font-medium">
                            Auto loan payoff calculator
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
